h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

p {
  &.lead {
    font-size: 1.6rem;
    line-height: 1.2em;
  }
}

.text-center {
  text-align: center;
}

mark {
  background: none;
  color: #05ffff;
}

strong {
  font-size: 24px;
  text-transform: uppercase;
}

ul {
  list-style: square;
  padding-left: 1.5rem;
  font-size: 24px;
  color: #05ffff;
  margin: 0;

  li {
    max-width: 847px;

    span {
      color: #fff;
      font-size: 18px;
      line-height: 1.2em;
    }
  }
}

p {
  font-size: 18px;
}
