@import "~normalize.css";
@import "~flexboxgrid";
@import "variables";
@import "mixins";
@import "typography";

@import "buttons";
@import "header";
@import "footer";
@import "sections";
@import "borders";

html {
  font-size: 15px;

  @include media("", xs) {
    font-size: 14px;
  }
}

body {
  background-color: #0a011b;
  color: #fff;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: calc(1520px + 1em);
  width: 100% !important;
}

* {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}
