section {
  &.top {
    background: radial-gradient(50% 50% at 50% 50%, #000000 8%, rgba(0, 0, 0, 0) 90%),
      url("../img/first-bg.png") center / cover;

    user-select: none;

    @include media-gt-xs {
      min-height: 100vh;
    }
  }
}
