@import "~normalize.css";
@import "~flexboxgrid";
@import "variables";
@import "mixins";

@import "buttons";
@import "header";
@import "footer";
@import "sections";

body {
  background-color: #0a011b;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
